form {
  border: 2px solid dodgerblue;
  width: 200px;
  height: 200px;;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  background: #6cf;
}
input {
  margin: 5px;
  width: 60%;
}
ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
li {
  display: inline;
}
button {
  width: 35px;
  height: 35px;
  font-size: 20px;
}
div {
  font-size: 40px;
}
